
dist
.solid
.output
.vercel
.netlify
.vinxi
.yarn

# Environment
.env
.env*.local

# any node_modules directory
node_modules
apps/client/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db


# ignore all files in apps/server/pb_data
apps/server/pb_data/*
